:root {
    --bg-color: #F6F7F8;
    --border-color: #E3EBEF;
  }

.wrapper_dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown {
    display: grid;
    grid-template-columns: 290px 150px;
    width: 440px;
    height: 50px;
    background-color: var(--bg-color);
    border: 1px solid  var(--border-color);
    border-radius: 5px;
}

.dropdown_active {
    display: grid;
    grid-template-columns: 290px 150px;
    width: 440px;
    height: 50px;
    background-color:  var(--bg-color);
    border-radius: 5px 5px 0 0;
    border: 1px solid #C1D9E6;
    border-bottom: none;
}

.dropdown_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown_form input {
    width: 240px;
    height: 50px;
}

.dropdown_item {
    display: flex;
    align-items: center;
    padding-left: 35px;
    padding-right: 11px;
    justify-content: space-between;
}

.active_item {
    display: flex;
    align-items: center;
}

.active_item .icon {
    margin-right: 14.39px;
    width: 15px;
    height: 20px;
}

.active_item input {
    width: 60px;
    padding-left: 0px;
}

.icon img {
    align-items: center;
    width: 15px;
    height: 20px;
}
.active_item .crypto_tic {
    width: 50px;

}
.crypto_tic {
    text-transform: uppercase;
    line-height: 23px;
}

.drop_button {
    display: flex;
    align-items: center;
    background-color:  var(--bg-color);
    border: none;
    width: 15px;
    height: 20px;
    cursor: pointer;
}

.dropdown_menu {
    position: absolute;
    height: 144px;
    width: 440px;
    border-top: 1px solid var(--border-color);
    border: 1px solid #C1D9E6;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid var(--border-color);
    background-color:  var(--bg-color);
    margin-top: 49px;
    margin-left: -1px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0;
}

.dropdown_menuu::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.dropdown_menu .list {
    list-style: none;
    margin: 0;
}

.dropdown_menu .list .list_item {
    display: flex;
    justify-content: left;
    padding-left: 20px;
    height: 48px;
    align-items: center;
    cursor: pointer;
}

.dropdown_menu .list .list_item:hover {
    background: #EAF1F7;
}

.dropdown_menu .list .list_item .icon {
    width: 15px;
    height: 20px;
}

.dropdown_menu .list .list_item div {
    margin-right: 15px;
}

.dropdown_menu .list .list_item .crypto_name {
    color: #80A2B6;
}


.switch {
    cursor: pointer;
}

.switch img {
    display: block;
    height: 24px;
}

.error {
    position: absolute;
    margin-top: -30px;
    color: #E03F3F;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.none {
    display: none;
}
.search {
    height: 40px;
    margin-top: -100px;
}
@media (max-width: 768px) {
    .wrapper_dropdown {
        display: block;
    }

    .dropdown {
        width: 328px;
        grid-template-columns: 178px 150px;
    }

    .dropdown_active {
        width: 328px;
        grid-template-columns: 178px 150px;
    }

    .dropdown_menu {
        width: 328px;
    }

    .dropdown_menu .list .list_item {
        font-size: 12px;
        height: 35px;
    }

    .dropdown:first-child {
        margin-bottom: 20px;
    }

    .dropdown:last-child {
        margin-top: 20px;
    }

    .switch {
        display: flex;
        justify-content: flex-end;
    }
    .switch img {
        transform: rotate(90deg)
    }
}