body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #282828;
}

.container {
  max-width: 960px;
  margin: auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 328px;
  }
}